@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-fredoka: var(--font-fredoka);
  --font-quicksand: var(--font-quicksand);
  --font-comic-neue: var(--font-comic-neue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-quicksand), Arial, Helvetica, sans-serif;
}

.font-fredoka {
  font-family: var(--font-fredoka), cursive;
}

.font-comic-neue {
  font-family: var(--font-comic-neue), cursive;
}

.font-quicksand {
  font-family: var(--font-quicksand), sans-serif;
}

button {
  cursor: pointer;
}
